<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a mat-button class="home-button" [routerLink]="'/'"><h1>MS ONBOARDING</h1></a>
        <span class="example-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/home'">ABOUT US</a>
            <a *ngIf="isLoggedIn" mat-button [routerLink]="'/user-logs'">MY LOGS</a>
            <a *ngIf="isLoggedIn" mat-button [routerLink]="'/onboardee'">ONBOARDEE</a>
            <a *ngIf="!isLoggedIn" mat-button [routerLink]="'/login'">LOGIN</a>
            <a *ngIf="isLoggedIn" mat-button (click) = "signOut()">LOGOUT</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>