<div class="container">
    <table>
        <tr><td class="left"><h3>Trends in MS Onboarding</h3></td></tr>
    </table>
  </div>
<mat-tab-group animationDuration="500ms" mat-stretch-tabs>
    <mat-tab label="Demand"><app-bar-chart></app-bar-chart></mat-tab>
    <mat-tab label="Profile"><app-profile-chart></app-profile-chart></mat-tab>
    <mat-tab label="Yearly"> Content 4 </mat-tab>
    <mat-tab label="Line"> Content 5 </mat-tab>
    <mat-tab label="Doughnut"> Content 6 </mat-tab>
</mat-tab-group>