<div class="container">
    <table>
        <tr><td class="left"><h3>Trends in MS Onboarding</h3></td></tr>
    </table>
  </div>
<mat-tab-group animationDuration="500ms" mat-stretch-tabs>
    <mat-tab label="Demand"><app-bar-chart></app-bar-chart></mat-tab>
    <mat-tab label="Profile"><app-profile-chart></app-profile-chart></mat-tab>
    <mat-tab label="Location"><app-location-graph></app-location-graph></mat-tab>
    <mat-tab label="Manager"><app-manager-chart></app-manager-chart></mat-tab>
    <mat-tab label="Experience"><app-experience-chart></app-experience-chart></mat-tab>
</mat-tab-group>