<div class="container">
    <table>
        <tr>
            <td class="left"><h3>MS Onboardees</h3></td>
            <td class="right" *ngIf="allowed"><button mat-raised-button color="primary" (click)="addOnboardee()">Add Onboardee</button></td>
        </tr>
    </table>
</div>
<div>
    <mat-form-field class="filter">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Type Filter">
    </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="uid">
      <th mat-header-cell *matHeaderCellDef> Serial No. </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="webLoginId">
        <th mat-header-cell *matHeaderCellDef> Web Login </th>
        <td mat-cell *matCellDef="let element"> {{element.webLoginId}} </td>
    </ng-container>

    <ng-container matColumnDef="joiningLocation">
        <th mat-header-cell *matHeaderCellDef> Joining Location </th>
        <td mat-cell *matCellDef="let element"> {{element.joiningLocation}} </td>
    </ng-container>

    <ng-container matColumnDef="skillSet">
        <th mat-header-cell *matHeaderCellDef> Skills </th>
        <td mat-cell *matCellDef="let element"> {{element.skillSet}} </td>
    </ng-container>

    <ng-container matColumnDef="experience">
        <th mat-header-cell *matHeaderCellDef> Experience </th>
        <td mat-cell *matCellDef="let element"> {{element.experience}} </td>
    </ng-container>

    <ng-container matColumnDef="hiringManager">
        <th mat-header-cell *matHeaderCellDef> Hiring Manager </th>
        <td mat-cell *matCellDef="let element"> {{element.hiringManager}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="backgroundCheckStatus">
        <th mat-header-cell *matHeaderCellDef> BG Status </th>
        <td mat-cell *matCellDef="let element"> {{element.backgroundCheckStatus}} </td>
    </ng-container>

    <ng-container matColumnDef="etaForOnboarding">
        <th mat-header-cell *matHeaderCellDef> ETA </th>
        <td mat-cell *matCellDef="let element"> {{element.etaForOnboarding}} </td>
    </ng-container>

    <ng-container matColumnDef="edit" *ngIf="allowed">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element"><button class="delete-btn" (click)="edit(element)"><mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon></button></td>
    </ng-container>

    <ng-container matColumnDef="delete" *ngIf="allowed">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"><button class="delete-btn" (click)="delete(element.uid)"><mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon></button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>