.chart-container {
    margin: 0px auto;
    height:50%; 
    width:50%;
    text-align: center;
}

.description {
    padding-top: 5%;
    text-align: center;
    margin: 0px auto;
}

.table {
    margin: 0px auto;
    padding-top: 2%;
    width:50%;
}