.chart-container {
    margin: 0px auto;
    height:40%; 
    width:40%;
    text-align: center;
}

.description {
    padding-top: 5%;
    text-align: center;
    margin: 0px auto;
}

.table {
    margin: 0px auto;
    padding-top: 3%;
    width:50%;
}